<mat-toolbar class="toolbar">
  <span>Kart - Base Station</span>
  <div class="connectionInfo" *ngIf="(kartData$ | async) as kartData">
    <label for="rssi">RSSI: </label>
    <span id="rssi">{{kartData.rssi | number: '1.0-0'}}</span>
    <span> | </span>
    <label for="snr">SNR: </label>
    <span id="snr">{{kartData.snr | number: '1.2-2'}}</span>
    <span> | </span>
    <label for="battery">Battery: </label>
    <span id="battery">{{kartData.data.battery | number: '1.3-3'}} V</span>
    <span> | </span>
    <label for="lastMessage">Last Message: </label>
    <span id="lastMessage">{{secondsSinceLastMessage$ | async | number: '1.3-3'}}s</span>
  </div>
  <button mat-raised-button (click)="connect()">{{(connected$ | async) ? 'Reconnect' : 'Connect'}}</button>
</mat-toolbar>

<div class="content" *ngIf="(kartData$ | async) as kartData; else elseBlock">
  <mat-card>
    <mat-card-title>Location</mat-card-title>
    <mat-card-subtitle>
      Satelites: {{kartData.data.satellites | number: '1.0-0'}}
      <br>
      HDOP: {{kartData.data.hdop | number: '1.2-2'}}
      <br>
      Speed: {{kartData.data.speed | number: '1.2-2'}}km/h
    </mat-card-subtitle>
    <mat-card-content>
      <div class="map-container" leaflet *ngIf="mapOptions$ | async as mapOptions" [leafletOptions]="mapOptions"
        (leafletMapReady)="onMapReady($event)" (leafletClick)="mapClicked($event)">
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Messages</mat-card-title>
    <mat-card-content>
      <div class="messageListContainer">
        <mat-list class="messageList" *ngIf="messages.size">
          <mat-list-item *ngFor="let message of sortedMessages(); last as last">
            <mat-icon mat-list-icon>{{message.ack ? 'done' : 'pending'}}</mat-icon>
            <h4 mat-line>{{message.message}}</h4>
            <div mat-line>{{message.timestamp | date: 'HH:mm:ss'}}</div>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
          </mat-list-item>
        </mat-list>
        <div *ngIf="messages.size === 0">
          <span>No Message History</span>
        </div>
      </div>

      <div class="messageInputContainer">
        <mat-form-field appearance="fill" class="messageInput">
          <mat-label>Message</mat-label>
          <input matInput placeholder="Short Message" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
        </mat-form-field>

        <button mat-fab color="primary" aria-label="Send message" class="messageButton" (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </div>

    </mat-card-content>
  </mat-card>
</div>

<ng-template #elseBlock>
  <div class="content">
    <mat-spinner class="loadingIndicator"></mat-spinner>
  </div>
</ng-template>

<router-outlet></router-outlet>
